<!doctype html>
<html>
  <head>
    <title>Meadowlark Travel</title>
  </head>
  <body>
    <header><img src="/img/logo.jpg" width="100px" alt="Maedowlark Travel Logo"></header>
    {{{body}}}
  </body>
</html>
